/* // https://coolors.co/f72585-7209b7-3a0ca3-4361ee-4cc9f0 */

root {
    /* CSS HEX */
  --flickr-pink: #f72585ff;
  --purple: #7209b7ff;
  --trypan-blue: #3a0ca3ff;
  --ultramarine-blue: #4361eeff;
  --vivid-sky-blue: #4cc9f0ff;

  /* https://coolors.co/7400b8-6930c3-5e60ce-5390d9-4ea8de-48bfe3-56cfe1-64dfdf-72efdd-80ffdb */
  /* CSS HEX */
  --purple: #7400b8ff;
  --french-violet: #6930c3ff;
  --slate-blue: #5e60ceff;
  --tufts-blue: #5390d9ff;
  --blue-jeans: #4ea8deff;
  --vivid-sky-blue: #48bfe3ff;
  --sky-blue-crayola: #56cfe1ff;
  --medium-turquoise: #64dfdfff;
  --turquoise: #72efddff;
  --aquamarine: #80ffdbff;

  /* https://coolors.co/cdb4db-ffc8dd-ffafcc-bde0fe-a2d2ff */
  /* CSS HEX */
  --pink-lavender: #cdb4dbff;
  --orchid-pink: #ffc8ddff;
  --nadeshiko-pink: #ffafccff;
  --uranian-blue: #bde0feff;
  --baby-blue-eyes: #a2d2ffff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.heading {
  font-size: 32px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text-center {
  text-align: center;
}
.path-0{
  animation:pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
  0%{
    d: path("M 0,400 C 0,400 0,200 0,200 C 88.45384615384617,208.86410256410255 176.90769230769234,217.72820512820513 251,220 C 325.09230769230766,222.27179487179487 384.8230769230769,217.95128205128208 455,192 C 525.1769230769231,166.04871794871792 605.8,118.46666666666667 706,126 C 806.2,133.53333333333333 925.9769230769232,196.18205128205128 1000,209 C 1074.0230769230768,221.81794871794872 1102.2923076923075,184.80512820512823 1168,175 C 1233.7076923076925,165.19487179487177 1336.8538461538462,182.5974358974359 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  25%{
    d: path("M 0,400 C 0,400 0,200 0,200 C 57.98461538461538,214.73076923076923 115.96923076923076,229.46153846153848 208,231 C 300.03076923076924,232.53846153846152 426.10769230769233,220.8846153846154 519,199 C 611.8923076923077,177.1153846153846 671.6,145 737,151 C 802.4,157 873.4923076923076,201.1153846153846 956,207 C 1038.5076923076924,212.8846153846154 1132.4307692307693,180.53846153846152 1215,173 C 1297.5692307692307,165.46153846153848 1368.7846153846153,182.73076923076923 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  50%{
    d: path("M 0,400 C 0,400 0,200 0,200 C 96.02564102564102,177.4820512820513 192.05128205128204,154.96410256410257 263,169 C 333.94871794871796,183.03589743589743 379.82051282051293,233.62564102564104 462,229 C 544.1794871794871,224.37435897435896 662.6666666666666,164.5333333333333 749,157 C 835.3333333333334,149.4666666666667 889.5128205128206,194.2410256410257 962,203 C 1034.4871794871794,211.7589743589743 1125.2820512820513,184.5025641025641 1208,178 C 1290.7179487179487,171.4974358974359 1365.3589743589744,185.74871794871797 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  75%{
    d: path("M 0,400 C 0,400 0,200 0,200 C 68.35897435897434,227.4102564102564 136.71794871794867,254.82051282051282 229,263 C 321.2820512820513,271.1794871794872 437.48717948717956,260.1282051282051 522,237 C 606.5128205128204,213.8717948717949 659.3333333333333,178.66666666666669 717,168 C 774.6666666666667,157.33333333333331 837.1794871794873,171.2051282051282 927,177 C 1016.8205128205127,182.7948717948718 1133.948717948718,180.51282051282053 1224,183 C 1314.051282051282,185.48717948717947 1377.025641025641,192.74358974358972 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  100%{
    d: path("M 0,400 C 0,400 0,200 0,200 C 88.45384615384617,208.86410256410255 176.90769230769234,217.72820512820513 251,220 C 325.09230769230766,222.27179487179487 384.8230769230769,217.95128205128208 455,192 C 525.1769230769231,166.04871794871792 605.8,118.46666666666667 706,126 C 806.2,133.53333333333333 925.9769230769232,196.18205128205128 1000,209 C 1074.0230769230768,221.81794871794872 1102.2923076923075,184.80512820512823 1168,175 C 1233.7076923076925,165.19487179487177 1336.8538461538462,182.5974358974359 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
}